<style>
{
box-sizing:border-box;
}
	body{

	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	}
.tag{
	margin: 0;
	padding:0;
	font-size:40px;
	text-align:center;
}
	
.navbar{
	overflow:hidden;
	background:#333;
}
.navbar a{
	float:left;
	display:block;
	color:white;
	text-align:center;
	padding :14px 20px;
	text-decoration:none;
}
.navbar   a.right{
	float:right;
}
.navbar a:hover{
	background:orange;
	color:white;
}
.row{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.side{
	-ms-flex:30%;
	flex:30%;
	background-color:#f1#f1#f1;
	padding:50px;
}
.main {   
    -ms-flex: 30%;
    flex: 30%;
    background-color: white;
    padding: 50px;
}
.fakeimg{
	background-color:#aaa;
	width:100%;
	padding:20px;
}
.footer{
	text-align:center;
	background: black;
	color:white;
	padding:20px;
}

@media screen and(max-width:700px){
	.row{
		flex-direction:column;
	}
}
@media screen and (max-width:50px){
	.navbar a{
		float:none;
		width:100%;
	}
}
</style>
	
	
	
	